@using EmpMng.Presentations.ViewModels
@model EmployeeRegisterViewModel
@{
    ViewData["Title"] = "社員登録削除(完了)";
}
<h2 class="text-center mt-4">@ViewData["Title"]</h2>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 text-center">
            <div class="alert alert-success" role="alert">
                社員情報の削除が完了しました。
            </div>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class="fw-bold">@Html.DisplayNameFor(m => m.Name)</td>
                        <td>@Html.DisplayFor(m => m.Name)</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">@Html.DisplayNameFor(m => m.DeptName)</td>
                        <td>@Html.DisplayFor(m => m.DeptName)</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">@Html.DisplayNameFor(m => m.Gender)</td>
                        <td>
                            @(Model.Gender == 1 ? "男性" : Model.Gender == 2 ? "女性" : Model.Gender == 3 ? "その他" :
                            "--未選択--")
                        </td>
                    </tr>
                </tbody>
            </table>
            <a asp-action="Enter" asp-controller="EmployeeDelete" class="btn btn-primary mt-3">
                続けて削除する
            </a>
            <p>
                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary mt-3 ms-2">
                    トップページに戻る
                </a>
            </p>
        </div>
    </div>
</div>