@using EmpMng.Presentations.ViewModels
@model EmployeeRegisterViewModel;
@{
    ViewData["Title"] = "社員登録削除(確認)";
}
<h2 class="text-center mt-4">@ViewData["Title"]</h2>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class="fw-bold">@Html.DisplayNameFor(m => m.Name)</td>
                        <td>@Html.DisplayFor(m => m.Name)</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">@Html.DisplayNameFor(m => m.DeptName)</td>
                        <td>@Html.DisplayFor(m => m.DeptName)</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">@Html.DisplayNameFor(m => m.Gender)</td>
                        <td>
                            @(Model.Gender == 1 ? "男性" : Model.Gender == 2 ? "女性" : Model.Gender == 3 ? "その他" :
                      "--未選択--")
                        </td>
                    </tr>
                </tbody>
            </table>

            <form asp-action="Delete" asp-controller="EmployeeDelete" method="post">
                <input type="hidden" asp-for="Name" />
                <input type="hidden" asp-for="DeptId" />
                <input type="hidden" asp-for="DeptName" />
                <input type="hidden" asp-for="Gender" />
                <input type="hidden" asp-for="EmpId" />

                <p>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">完全に削除する</button>
                    </div>
                </p>
                <div class="mt-3">
                    <button type="submit" asp-action="Back" class="btn btn-secondary">戻る</button>
                </div>
            </form>
        </div>
    </div>