@using EmpMng.Presentations.ViewModels
@model DepartmentRegisterViewModel
@{
    ViewData["Title"] = "部門登録変更(完了)";
}
<h2 class="text-center mt-4">@ViewData["Title"]</h2>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 text-center">
            <div class="alert alert-success" role="alert">
                部門情報の変更が完了しました。
            </div>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class="fw-bold">@Html.DisplayNameFor(m => m.DeptName)</td>
                        <td>@Html.DisplayFor(m => m.DeptName)</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">@Html.DisplayNameFor(m => m.Area)</td>
                        <td>
                            @(Model.Area == 1 ? "東京" : Model.Area == 2 ? "大阪" :
                            "--未選択--")
                        </td>
                    </tr>
                </tbody>
            </table>
            <a asp-action="Enter" asp-controller="DepartmentUpdate" class="btn btn-primary mt-3">
                続けて変更する
            </a>
            <p>
                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary mt-3 ms-2">
                    トップページに戻る
                </a>
            </p>
        </div>
    </div>
</div>